#container {
  flex-direction: column;
  display: flex;
  text-align: center;
  padding: 40px;
  
}

#title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Cera pro, Trebuchet MS, sans-serif;
}

#description {
  color: #959595; // light grey
  font-size: 1.2rem;
  letter-spacing: -.01em;
  position: relative;
  padding-bottom:25px;
  font-family: Cera pro, Trebuchet MS, sans-serif;

  width: 80%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
}

#buttons-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#mapButton {
  width: auto;
    margin-left: auto;
    margin-right: 5px;
    padding: 12px 24px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.3s ease;
}

#contributionButton {
  width: auto;
    margin-right: auto;
    margin-left: 5px;
    padding: 12px 24px;
    font-size: 1.2rem;
    background-color: #8c8f94;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.3s ease;
}

#mapButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

#contributionButton:hover {
  background-color: #50575e;
  transform: scale(1.05);
}

#mapvid {
  width: 80%;
  max-width: 1000px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  filter: brightness(0.75);
  margin: auto;
}

#aboutContainer {
  width: 80%;
  max-width: 1000px;
  height: auto;
  margin: auto;
  margin-top:60px;
  scroll-margin-top: 60px;
}

html {
  scroll-behavior: smooth;
 }

#aboutUs {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 10px;
  font-family: Cera pro, Trebuchet MS, sans-serif;
}
#aboutContainer h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  font-family: Cera pro, Trebuchet MS, sans-serif;
}

#aboutContainer p {
  color: #959595; /* light grey */
  font-size: 1.5rem;
  letter-spacing: -.01em;
  position: relative;
  padding-bottom: 25px;
  font-family: Cera pro, Trebuchet MS, sans-serif;
}
