#container {
  text-align: center;
  padding: 40px;
}

#title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#mapButton {
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 30px;
}

#mapvid {
  width: 80%;
  max-width: 1000px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  filter: brightness(0.75)
}
