.navbar {
  position: fixed;         
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;            
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.navbar-logo a {
  color: #fdbb2d;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}


#machine a {
  color: #fdbb2d !important;
}

#machine a:hover {
  color:  palegoldenrod !important;
  transform: scale(1.05);
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #61dafb; // Light blue
  transform: scale(1.05);
}
