.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container {
    display: flex;
    padding: 1rem;
    max-width: 900px;
    margin: auto;
    border: 1px solid #ddd;
    background-color: #fafafa;
    height: 100vh;
    max-height: 500px;
    font-family: Cera pro, Trebuchet MS, sans-serif;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .leftPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }
  
  .rightPanel {
    align-content: center;
    flex: 2;
    padding-left: 2rem;
    
  }
  
  .menu {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    padding: 0.5rem 0;
    cursor: pointer;
    font-weight: 500;
    color: #333;
    transition: all 0.3s ease;
  }
  
  .menu li:hover {
    color: #007bff;
    transform: scale(1.05);
  }

.profileTitle {
    font-size: 2rem;
    font-weight: bold;
}

.introUser {
    font-size: 1.7rem;
    font-weight: bold;
    color: darkblue;
}
  
